<div class="d-flex flex-column col-4 text-center w-100">
  <h1>Show Task</h1>
    <%= @task.details %>
    <div class="m-2">
      <% if @task.completed %>
        <p><i class="fa-solid fa-square-check"></i> This task is completed!</p>
      <% else %>
        <p><i class="fa-solid fa-square"></i> This task is not completed!</p>
      <% end %>
    </div>
    <%= link_to "Edit Task", edit_task_path, class: "btn btn-primary mt-2"  %>
    <%= link_to "back", tasks_path, class: "btn btn-secondary mt-2"  %>
</div>
